GeometryProcessing/src/MatlabPlugin/ExeClient/Debug/
GeometryProcessing/src/MatlabPlugin/ExeClient/
GeometryProcessing/src/MatlabPlugin/ExeServer/
GeometryProcessing/src/MatlabPlugin/Debug/
GeometryProcessing/src/MatlabPlugin/Release/
GeometryProcessing/src/ObjReader/ClothExe/Release/
GeometryProcessing/src/ObjReader/ClothExe/Debug/
GeometryProcessing/src/ObjReader/Release/
GeometryProcessing/src/ObjReader/Debug/
GeometryProcessing.rar
GeometryProcessing/src/MatlabPlugin/x64/
*.exp
